.containerProjetos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 10vw;

  border-bottom: 1px solid var(--gray-800);
}

.tag {
  width: fit-content;
  font-size: 0.875rem;
  color: var(--purple-300);

  padding: 0.25rem 0.875rem ;
  background-color: var(--purple-700);
  border-radius: 0.5rem;
}

.selection{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:space-between;
  gap: 3rem;
  margin-bottom: 3rem;
}

.selection h1{
  font-size: 3rem;
  font-weight: 600;
}
.containerButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.containerTitle{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.selection button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  width: 191px;
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;

  font-size: 0.875rem;
  font-weight: 500;
  color: var(--purple-300);
  transition: 0.3s;
}
.selection button div{
  height: 22px;
}
.selection button:hover{
  background-color: var(--purple-800);
  border: 0;
}

.button {
  border: 1px  solid var(--purple-300);
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.buttonactive {
  border: 0;
  background-color: var(--purple-800);
  cursor: default;
  transition: 0.2s;
  height: 52px;
}

.containerCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}


@media (max-width: 768px) {
  .containerProjetos{
    padding: 2rem 1rem;
  }
  .selection{
    flex-direction: column;
    align-items: center;
  }
  .selection button{
    width: 140px;
    height: 52px;
    font-size: 0.625rem;
  }
  .selection h1{
    font-size: 2rem;
  }
  .tag {
    font-size: 0.625rem;
  }
  .containerCards{
    justify-content: center;
  }
}

@media (max-width: 915px) and (min-width: 768px){
  .selection{
    flex-direction: column;
    align-items: center;
  }
  .center{
    width: 350px;
  }
}

@media (min-width: 915px) and (max-width: 1393px){
  .selection{
    width: 732px;
  }
  .center{
    width: 732px;
  }
}
@media (min-width: 1393px ) and (max-width: 1870px){
  .selection{
    width: 1114px;
  }
  .center{
    width: 1114px;
  }
}
@media (min-width: 1870px){
  .selection{
    width: 1496px;
  }
  .center{
    width: 1496px;
  }
}