.container{
  padding: 5rem 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
  flex-wrap: wrap;
  gap: 2rem;
}
.container h1{
  font-size: 3rem;
  font-weight: 600;
}
.containerContact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:2rem;
  flex-wrap: wrap;

  
}
.containerContact div a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:1rem;
  flex-wrap: wrap;

  background-color: var(--purple-800);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;

  color: var(--purple-300);
}
.containerContact div a:hover{
  background-color: var(--purple-700);
}
.tag {
  width: fit-content;
  font-size: 0.875rem;
  color: var(--purple-300);

  padding: 0.25rem 0.875rem ;
  background-color: var(--purple-700);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
    padding: 2.5rem 1rem;
  }
  .container h1{
    font-size: 2rem;
  }
  .containerContact{
    flex-direction: column;
    gap: 2rem;
  }
  .containerContact div a{
    font-size: 0.875rem;
  }
  .containerContact svg{
    width: 2rem;
  }
  .tag{
    display: none;
  }
}
  
